

h1, h2, h3, h4,h5,h6{
    font-family: 'playfair display' serif;
}

body{
    font-family: 'rubik',sans-serif;
    font-size: 16px;
    color: #676767;
    line-height: 1.9;
    margin: 0;
    padding: 0;
}
input:focus, textarea:focus,button:focus, a:focus{
    outline: none;
}
.header-section {
    margin: 0 100px;
}

.logo {
    margin-top: 25px;
}
.mainmenu {
    margin: 0;
    padding: 0;
    height: 145px;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
}

.mainmenu ul li {
    display: inline-block;
    list-style: none;
    margin-top: 52px;
}

.mainmenu li a {
    margin-left: 60px;
    color: #202020;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.mainmenu li a:hover {
    background: #e67a1f;
    padding: 17px 20px;
    color: #fff;
    border-radius: 5px;

}
.communication-area {
    background: #f8f8f8;
    height: 105px;
    width: 100%;
    border-top: 1px solid #d6d6d6;
}
.communication-area-bg {
    margin: 0 100px;
}
.communication-icon {
    margin-top: 23px;

}
.communication-icon img {
    border: 1px solid #e5e5e5;
    padding: 9px;
    border-radius: 2px;
}
.communication-icon p {
    float: right;
    margin-right: 16%;
    color: #043464;
    font-size: 16px;
}
p.communication-theme1 {
    margin-right: 95px;
}
p.communication-theme2 {
    margin-right: 160px;
}
p.communication-theme3 {
    margin-right: 55px;
}
p.communication-theme4 {
    margin-right: 65px;
}

.hero-area{
    background: url('../img/homepage.jpg') no-repeat scroll center center /cover;
    width: 100%;
    height: 816px;
}
.hero-arae-theme {
    text-align: center;
    margin-top: 220px;
    color: #fff;
}
.hero-arae-theme h3 {
    font-size: 50px;
    font-weight: 600;
}
.hero-arae-theme p {
    font-size: 30px;
    margin-bottom: 55px;
}
.schdule {
    background: #e67a1f;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 700;
}
.schdule a{
  color: #fff;

}
.schdule i.fas{
    padding-right: 26px;
    font-size: 21px;
}

.communition-area {
    height: 60px;
    width: 100%;
    background: #07232c;
    padding-top: 3px;
   text-decoration: none;   
}

.single-service-box {
    margin: 59px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 600;

}
.single-service-item {
    position: absolute;
    left: 35%;
    top: -50px;
    height: 60px;
    font-size: 26px;
    width: 60px;
    background: #07232c;
    line-height: 60px;
    border-radius: 50%;
    z-index: -1;
    color: #fff;
}
.about-area {
    margin-top: 60px;
    margin-left: 100px;
}

.about-image {
    background: url(../img/about.jpg) no-repeat scroll center center /cover;
    width: 100%;
    height: 550px;
    margin-left: 15px;
    border-radius: 11px 0 0 11px;
    position: relative;
}
.about-image:after {
    position: absolute;
    content: "";
    left: 20px;
    bottom: -10px;
    width: 98%;
    height: 100%;
    background: #e67a1f;
    z-index: -1;
    border-radius: 0 11px;
}
.about-section h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 80px;
}
.about-section p {
    padding: 43px 127px;
}
.service-area {
    background: url('../img/service1.jpg') no-repeat scroll center center /cover;
    width: 100%;
    height: 735px;
    margin-top: 50px;
}
.service-area-bg2{
    padding-top: 100px;
}

.appointment-area{
    background: url('../img/service3.jpg') no-repeat scroll center center /cover;
    height: 210px;
    width: 100%;
    color: #fff;
    position: relative;
}
.appointment-area:before {
    position: absolute;
    content: "";
    width: 66px;
    height: 56px;
    left: -11px;
    top: 79px;
    background: #000;
    transform: skewX(-20deg);
}
.appointment-area-bg h3 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
    padding-top: 95px;
}

.schdule-area i.fas{
    padding-right: 26px;
    font-size: 21px;
}
.appointment-theme {
    margin-top: 20%;
    position: relative;
    z-index: 2;
}

.appointment-theme:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: #000;
    width: 100%;
    height: 68px;
    z-index: -1;
    margin-right:  -15px;
    transform: skew(0deg);
}

a.schdule-area i {
    margin-top: 24px;
    color: #fff;
}

a.schdule-area {
    color: #fff;
    margin-right: 75px;
}

.appointment-theme:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 68px;
    left:0;
    top: 0;
    background: #e1781e;
    z-index: 2;
    transform: skewX(-20deg);
}
.section-padding-theme{
    background: url('../img/service2.jpg') no-repeat scroll center center /cover;
    width: 102%;
    height: 665px;
}
.section-padding {
    position: relative;
    z-index: 1;
}

.section-padding:before {
    position: absolute;
    content: "";
    width: 76%;
    height: 100%;
    left: -101px;
    top: 0;
    background: #fff;
    transform: skewX(-20deg);
    z-index: 1;
}

.section-padding-bg {
    position: relative;
    z-index: 2;
    padding: 81px 83px;
    padding-right: 238px;
}

.section-padding-bg h3 {
    font-size: 30px;
    font-weight: 600;
    color: #2b2b2b;
    margin-bottom: 35px;
}
.section-text {
    margin-bottom: 49px;
    margin-top: 35px;
}
a.boxed-btn {
    text-decoration: none;
    background: #e1781e;
    padding: 13px 25px;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
}

.footer-wizet{
    background: #07232c;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 15px;
}
.footer-wizet-bg{
  margin-left: 100px;
}

.footer-wizet-bg h3 {
    margin-bottom: 30px;
}

input[type="text"] {
    margin-bottom: 10px;
    padding-right: 241px;
    background: #243640;
    border: none;
    padding-left: 11px;
    height: 41px;
}
input[type="message"] {
    margin-bottom: 10px;
    padding-right: 241px;
    background: #243640;
    border: none;
    padding-left: 11px;
    padding-bottom: 60px;
    height: 100px;
}
input[type="email"] {
    margin-bottom: 10px;
    background: #243640;
    border: none;
    padding-left: 12px;
    padding-right: 240px;
    height: 40px;
}

::placeholder {
    color: #b4c7d1;
}
.footer-bottom {
    background: #07232c;
    height: 140px;
}
a.boxed-btn-bg {
    text-decoration: none;
    background: #e1781e;
    padding: 13px 25px;
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
     margin-right: 110px;
}
.footer-bottom p {
    margin-left: 120px;
    color: #b4c7d1;
}